html {
  zoom:200%;
}
header {
    display: grid;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #454040;
  }

div {
  display:grid;
  align-items: center;
  justify-items:center;
  border-bottom: 1px solid #454040;
}

