@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html {
  zoom: 200%;
  background-color: #6a6562;
}

h1, h2, h3 {
  font-size: bold;
  color: white;
}

p, b {
  color: white;
  font-size: 17;
}               

header {
    display: grid;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #454040;
    font-family: 'Ubuntu', sans-serif;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

button {
  font-family: 'Ubuntu', sans-serif;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  border-radius: 4px;
  font-size: 21px;
  font-weight: 500;
  padding: 4px 8px;
  display: inline-block;
  min-height: 28px;
  transition: background-color .24s,box-shadow .24s;
}

button:hover {
      box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

div {
  display:grid;
  align-items: center;
  justify-items:center;
  border-bottom: 1px solid #454040;
}
